.tag-summary-container {
	.col-cell {
		display: flex;
		align-items: center;
		.tag-txt-box {
			width: 100%;
			overflow-x: hidden;
			overflow-y: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
.tags-counter-component {
	padding-left: 8px;
	.tags-counter-txt {
		padding: 2px 4px;
		line-height: 17px;
		min-width: 24px;
		max-width: 28px;
		height: 21px;
		font-size: 12px;
		color: #fff;
		border-radius: 20px;
		background: #333;
	}
}
