.group-menu-container {
  position: absolute;
  top: 140%;
  left: 50%;
  font-size: 14px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
  background-color: var(--primary-background-clr);
  padding: 12px;
  z-index: 999;
  & .menu-item {
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    color: var(--primary-txt-clr);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    white-space: nowrap;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      background-color: var(--primary-background-hover-clr);
    }
    & .menu-icon-wrapper {
      display: flex;
      margin-inline-end: 8px;
      & .menu-item-color-pick {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: red;
      }
    }
    .group-moveto-dropdown-icon-wrapper {
      display: flex;
      position: relative;
      & .ion-icon {
        font-size: rem(12px);
      }
    }
  }
}
